@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lobster', cursive;
    --sm: 1rem;
    --md: 1.125rem;
    --lg: 1.5rem;
    --ssm: 0.75rem;
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

html{
    font-family: var(--primaryFont);
}

main{
    width: 100%;
    margin: 0 auto;
    background-color: var(--grisClaro);
    padding-bottom: 2rem;
}

ul {
    list-style: none;
    font-size: var(--ssm);
}

a{
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
    font-size: var(--lg);
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: var(--amarillo);
}

.logo {
    width: 80%;
    padding: 1rem;
    margin: auto;
}

.busqueda {
    margin: auto;
    display: flex;
    padding: 1rem;
    width: 90%;
}

.buscador {
    width: 80%;
    margin-left: 1.25rem;
}

.compras {
    display: flex;
    padding: 1rem;
    margin: auto;
    font-size: var(--ssm);
}

.personal {
    padding-top: 1rem;
}

.burger-menu {
    margin: auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--celeste);
    color: var(--grisClaro);
    border-radius: 0.3rem;
    width: 2rem;
    height: 2rem;
}

.banner {
    width: 100%
}

.cards {
    width: 90% ;
    margin: 0 auto;
    margin-top: 0.625rem;
    text-align: center; 
}

.products {
    width: 100%;
    padding-top: 0.031;
}

.description{
    background:white;
    padding: 1rem;
    line-height: 1.5rem;
}

.fa-truck{
    border: solid 0.1rem var(--verde);
    border-radius: 50%;
    padding: 1rem;
    color: var(--verde);
}

.price{
    font-size: var(--md);
}

.percentage{
    font-size: var(--sm);
    color: var(--verde);
}

h4{
    font-size: var(--sm);
    font-weight: normal;
    color: var(--grisOscuro);
    padding-top: 1rem;
}

.icono-footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--celeste);
}


.sectionsFooter {
    width: 70%;
    margin: auto;
    text-align: center;
}

.copyRight {
    text-align: center;
    margin-top: 3rem;
}

footer{
    padding-bottom: 1rem;
}

@media (max-width: 361px){
    h4, li{
        display: none;
    }
}

@media (min-width: 362px){
    .cards{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}
